html,body{
    background-color: rgb(57, 58, 57);
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
}
h2{
    text-align: center;
    background-color: rgb(214, 214, 197);
    padding: 10px;
    margin-top: -7px;
    margin-bottom: -5px;
    font-size: 32px;

}
.calculator{
    background-color: rgb(230, 248, 230);
    box-shadow: 10px 4px 5px rgb(209, 221, 124);
    border: 2px solid rgb(104, 109, 104);
    border-radius: 20px;
    overflow: hidden;
    width: 410px;
    height: 600px;
}
.display{
padding: 5px;
width: 100%;
height:150px ;
text-align: left;
background-color: rgb(194, 212, 171);
font-size: 50px;
border: 0cap;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
    margin-top: 40px;
    padding: 5px;
    
}

.button{
    color: black;
    background-color: rgb(177, 211, 143);
    font-size: 30px;
    border-radius: 10px;

}
.button:hover{
    background-color: greenyellow;
    cursor: pointer;
    transform: scale(110%);
}
  
    
